@theme {
    --color-primary-50: #f6f6f6;
    --color-primary-100: #e7e7e7;
    --color-primary-200: #d1d1d1;
    --color-primary-300: #b0b0b0;
    --color-primary-400: #888888;
    --color-primary-500: #6d6d6d;
    --color-primary-600: #5d5d5d;
    --color-primary-700: #4f4f4f;
    --color-primary-800: #454545;
    --color-primary-900: #3d3d3d;
    --color-primary-950: #000000;

    --color-primary-default: var(--color-primary-900);
    --color-primary-hover: var(--color-primary-950);

    --color-secondary-50: #fff4ed;
    --color-secondary-100: #ffe7d4;
    --color-secondary-200: #ffcaa8;
    --color-secondary-300: #ffa571;
    --color-secondary-400: #ff7d45;
    --color-secondary-500: #fe4f11;
    --color-secondary-600: #ef3407;
    --color-secondary-700: #c62308;
    --color-secondary-800: #9d1e0f;
    --color-secondary-900: #7e1c10;
    --color-secondary-950: #440a06;

    --color-secondary-default: var(--color-secondary-900);
    --color-secondary-hover: var(--color-secondary-950);

    /* === Darkmode Colors === */
    --color-darkmode-primary: #fff;
    --color-darkmode-body: #1c1c1c;
    --color-darkmode-border: #3E3E3E;
    --color-darkmode-light: #222222;
    --color-darkmode-dark: #fff;
    --color-darkmode-text: #B4AFB6;
    --color-darkmode-text-dark: #fff;
    --color-darkmode-text-light: #B4AFB6;

    /* === Secondary (Blue Accent) === */
    --color-secondary-50: #f2f6fb;
    --color-secondary-100: #e3ecf6;
    --color-secondary-200: #c9d9ee;
    --color-secondary-300: #a6bfe2;
    --color-secondary-400: #7fa1d4;
    --color-secondary-500: #5f86c6;
    --color-secondary-600: #4b6fb0;
    --color-secondary-700: #3e5c92;
    --color-secondary-800: #354d78;
    --color-secondary-900: #2e4263;
    --color-secondary-950: #1d2a40;

    --color-secondary-default: var(--color-secondary-600);
    --color-secondary-hover: var(--color-secondary-700);
    --color-secondary: var(--color-secondary-default);

    /* === Darkmode Secondary === */
    --color-darkmode-secondary: #8fb0ff;

}