@theme {
    --color-primary-50: #e9fffd;
    --color-primary-100: #c9fffa;
    --color-primary-200: #99fff9;
    --color-primary-300: #54fff7;
    --color-primary-400: #07feff;
    --color-primary-500: #00dfef;
    --color-primary-600: #00b1c9;
    --color-primary-700: #008da1;
    --color-primary-800: #087082;
    --color-primary-900: #0c5c6d;
    --color-primary-950: #003b49;

    --color-primary-default: var(--color-primary-900);
    --color-primary-hover: var(--color-primary-950);

    --color-secondary-50: #fff4ed;
    --color-secondary-100: #ffe7d4;
    --color-secondary-200: #ffcaa8;
    --color-secondary-300: #ffa571;
    --color-secondary-400: #ff7d45;
    --color-secondary-500: #fe4f11;
    --color-secondary-600: #ef3407;
    --color-secondary-700: #c62308;
    --color-secondary-800: #9d1e0f;
    --color-secondary-900: #7e1c10;
    --color-secondary-950: #440a06;

    --color-secondary-default: var(--color-secondary-900);
    --color-secondary-hover: var(--color-secondary-950);

}