// @import 'configuration/variables';

// // Utilities - Bootstrap API
// @import 'utilities/utility-api';

// // Import Bootstrap scss
// @import 'bootstrap';

// @import "backend/editor";

// // Utilities
// @import "utilities/swiper";
// @import "utilities/image-backdrop";

// // Override
// @import "override/swiper";
// @import "override/cf7";

// // Components
// @import "components/navigation";
// @import "components/hero-slider";
// @import "components/logo-swiper";
// @import "components/big-teaser";
// @import "components/blog-post";
// @import "components/reference-post";
// @import "components/person";
// @import "components/footer";


@import "tailwindcss";
// @import "configuration/colors";

@theme {
    --color-primary-50: #e9fffd;
    --color-primary-100: #c9fffa;
    --color-primary-200: #99fff9;
    --color-primary-300: #54fff7;
    --color-primary-400: #07feff;
    --color-primary-500: #00dfef;
    --color-primary-600: #00b1c9;
    --color-primary-700: #008da1;
    --color-primary-800: #087082;
    --color-primary-900: #0c5c6d;
    --color-primary-950: #003b49;

    --color-secondary-50: #fff4ed;
    --color-secondary-100: #ffe7d4;
    --color-secondary-200: #ffcaa8;
    --color-secondary-300: #ffa571;
    --color-secondary-400: #ff7d45;
    --color-secondary-500: #fe4f11;
    --color-secondary-600: #ef3407;
    --color-secondary-700: #c62308;
    --color-secondary-800: #9d1e0f;
    --color-secondary-900: #7e1c10;
    --color-secondary-950: #440a06;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Inter', sans-serif;
}